<!DOCTYPE html>
<html ng-app="store">
  <head>
    <meta charset=”utf-8”>
    <link rel="stylesheet" href="application.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  </head>
  <body ng-controller="StoreController as store">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js" ></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src=”js/bootstrap.js”></script>

    <script type="text/javascript" src="app.js"></script>


    <div ng-repeat="product in store.products | orderBy:'price'">
      <!-- <product-title></product-title> -->
      <!-- <h3 product-title></h3> -->
      <h3 ng-include="'product-title.html'"></h3>
      <!-- {{product.name}}
      <h2> {{product.price | currency}} </h2> -->
      <li ng-repeat="image in product.images">
        <img ng-src="{{image.full}}" alt=""/>
      </li>
      <button ng-show="product.canPurchase"> Add to Cart </button>

      <section ng-controller="PanelController as panel">
        <ul>
          <li ng-class="{ active: panel.isSelected(1) }">
            <a ng-click="panel.selectTab(1)">Description</a>
          </li>
          <li ng-class="{ active: panel.isSelected(2) }">
            <a ng-click="panel.selectTab(2)">Specifications</a>
          </li>
          <li ng-class="{ active: panel.isSelected(3) }">
            <a ng-click="panel.selectTab(3)">Reviews</a>
          </li>
        </ul>

        <div ng-show="panel.isSelected(1)">
          <h4>Description</h4>
          <p> {{product.description}} </p>
        </div>
        <div ng-show="panel.isSelected(2)">
          <h4>Specifications</h4>
          <blockquote>None yet</blockquote>
        </div>
        <div ng-show="panel.isSelected(3)">
          <h4>Reviews</h4>

          <blockquote ng-repeat="review in product.reviews">
            <b>Stars: {{review.stars}}</b>
            {{review.body}}
            <cite>by: {{review.author}}</cite>
          </blockquote>

          <form
            name="reviewForm"
            ng-controller="ReviewController as reviewCtrl"
            ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
            <blockquote>
              <b>Stars: {{reviewCtrl.review.stars}}</b>
              {{reviewCtrl.review.body}}
              <cite>by: {{reviewCtrl.review.author}}</cite>
            </blockquote>
            <select ng-model="reviewCtrl.review.stars" required>
              <option value="1">1 star</option>
              <option value="2">2 stars</option>
              <option value="3">3 stars</option>
              <option value="4">4 stars</option>
              <option value="5">5 stars</option>
            </select>
            <textarea ng-model="reviewCtrl.review.body" required></textarea>
            <label>by:</label>
            <input ng-model="reviewCtrl.review.author" type="email" required>

            <div class="">
              reviewForm is {{reviewForm.$valid}}
            </div>
            <input type="submit" value="Submit" >
          </form>
        </div>
      </section>
    </div>
    <p>{{'10171991520' | date:'MM/dd/yyyy @ h:mma'}}</p>
    <p>{{'octagon gem' | uppercase}}</p>
    <p>{{'My Description' | limitTo:8}}</p>
    <p>{{favoriteColor}}</p>
    <input ng-model="favoriteColor" type="radio" value="red" > Red
    <input ng-model="favoriteColor" type="radio" value="blue" > Blue

    <p>I am {{4 + 6}}</p>
    <!-- <h1></h1> -->
    <!-- <input type="text" > -->
  </body>
</html>
